.form{
    margin:100px auto;
}

.Loginp{
    display:flex ;
    justify-content: center;
}

.signupimg{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-left:50px;
    width:500px;
    border-radius: 10px;
}


.Login{
    color: #0d6efd;
    cursor: pointer;
    font-style: normal;
    font-weight: bold;
}

.Login:hover{
    text-decoration: underline;
}